[Unit]
Description=Sir Tim the Timely Discord Bot

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/skula/Sir-Tim-the-Timely/main.py
Restart=always

[Install]
WantedBy=default.target